:root {
  --bg: #202030;
  --fg: #eee;
}

body {
  color: var(--fg);
  background-color: var(--bg);
  font-family: 'Play', sans-serif;
  margin: 12px;
}

nav {
  margin-bottom: 16px;
  text-align: center;
  padding: 16px;
  box-shadow: 5px 5px 10px #101018;
}

/* ---- input */

select {
  width: 100%;
  display: block;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 5px 5px 10px #101018, -5px -5px 10px #303048;
  color: var(--fg);
}

select:active {
  box-shadow: inset 5px 5px 10px #101018, inset -5px -5px 10px #303048;
}

/* ---- section */

section {
  cursor: pointer;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: inset 5px 5px 10px #101018, inset -5px -5px 10px #303048;
}

section.collapse {
  box-shadow: 5px 5px 10px #101018, -5px -5px 10px #303048;
}

section > div {
  margin-top: 16px;
}

section.collapse > .cardcase {
  display: none;
}

/* --- card */

.cardcase {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 98px;
  height: 98px;
  margin: 4px;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  box-shadow: 0px 0px 6px 3px transparent;
  background-size: 100%;
}

.title {
  color: #eee;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 1.2em;
  line-height: 1.2em;
  word-break: break-all;
  overflow: hidden;
}

/* --- barchart */

.barchart {
  display: flex;
}

.barchart > div {
  border-width: 0px;
  border-top-width: 2px;
  border-style: solid;
}

/* ---- common clear */

.noplay {
  border-color: #000;
  filter: brightness(0.2);
}

.fail {
  border-color: #888;
  filter: brightness(0.8);
}

.clear {
  border-color: #ff7;
}

.ex {
  border-color: #f77;
  box-shadow: 0px 0px 1px 1px #b33, 0px 0px 1px 1px #b33 inset;
}

.fc {
  border-color: #aff;
  box-shadow: 0px 0px 6px 3px #3bb, 0px 0px 6px 3px #3bb inset;
}

.gfc {
  border-color: #afa;
  box-shadow: 0px 0px 6px 3px #3b3, 0px 0px 6px 3px #3b3 inset;
}

.pfc {
  border-color: #ffa;
  box-shadow: 0px 0px 6px 3px #bb3, 0px 0px 6px 3px #bb3 inset;
}

.mfc {
  border-color: #fff;
  box-shadow: 0px 0px 6px 3px #bbb, 0px 0px 6px 3px #bbb inset;
}

.card:after {
  display: inline-block;
  position: absolute;
  line-height: 1;
  bottom: 0;
  right: 2px;
  text-shadow: 1px 1px 2px #000;
}

.csp:after {
  content: "CHA";
  color: #f4f;
}

.dsp:after {
  content: "DIF";
  color: #f33;
}
