<!DOCTYPE html>
<html>

  <head>
    <title>DDRStats</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DDR Clear List">
    <script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" type="text/css">
    <link rel="stylesheet" href="good_design_award.css" type="text/css">
  </head>

  <body>
    <div id="app">

      <nav>
        <h1>DDR Clear List</h1>
      </nav>

      <section v-if="error">
        {{ error }}
      </section>

      <select v-model="sort">
        <option value="status">Order by: Status</option>
        <option value="title">Order by: Title</option>
      </select>

      <section v-for="level in levels"
               :class="{ collapse: selected != level.level }"
               @click="select(level.level)">
        <h2>Level {{ level.level }}</h2>
        <div class="barchart">
          <div v-if="summaries[level.level].mfc"
               class="mfc"
               :style="{ width: summaries[level.level].mfc + '%' }"></div>
          <div v-if="summaries[level.level].pfc"
               class="pfc"
               :style="{ width: summaries[level.level].pfc + '%' }"></div>
          <div v-if="summaries[level.level].gfc"
               class="gfc"
               :style="{ width: summaries[level.level].gfc + '%' }"></div>
          <div v-if="summaries[level.level].fc"
               class="fc"
               :style="{ width: summaries[level.level].fc + '%' }"></div>
          <div v-if="summaries[level.level].ex"
               class="ex"
               :style="{ width: summaries[level.level].ex + '%' }"></div>
          <div v-if="summaries[level.level].clear"
               class="clear"
               :style="{ width: summaries[level.level].clear + '%' }"></div>
          <div v-if="summaries[level.level].fail"
               class="fail"
               :style="{ width: summaries[level.level].fail + '%' }"></div>
          <div v-if="summaries[level.level].noplay"
               class="noplay"
               :style="{ width: summaries[level.level].noplay + '%' }"></div>
        </div>
        <div class="cardcase">
          <div v-for="chart in level.charts" :class="['card', chart.difficulty, chart.status]">
            <img :alt="chart.title" :src="chart.img">
          </div>
        </div>
      </section>

    </div>

    <script src="main.js"></script>
  </body>

</html>
